.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 9vh;
  width: 100vw;
  background: #111;
  padding: 0 7.5vh;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
}

.navbar_logo {
  height: 100%;
  width: 50%;
}
