.char_description {
  align-self: flex-start;
}
.scroll_img {
  border-radius: 50%;
  width: 50%;
}
.char_description h4 {
  margin: 0;
}

.char_button {
  position: relative;
  bottom: 5%;
  font-size: 1em;
}

.char_container {
  margin: 10px;
}
