@import url(https://allfont.net/allfont.css?fonts=star-jedi);
/* @import "semantic-ui-css/semantic.min.css"; */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  color: white;
  font-family: "Star Jedi", arial;
  background: url("https://images.unsplash.com/photo-1549189189-c26639dfc999?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #fff;
  border: none;
  border-radius: 10%;
  color: #111;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.films_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 450px) {
  .films_container {
    flex-direction: column;
  }
} */
/* .film_list {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}

.container {
  padding-top: 10%;
}

@media screen and (max-width: 992px) {
  .container {
    padding-top: 20%;
  }
} */
