.char_div {
  border: 2px solid white;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.film_info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.film_container button {
  margin: 15px;
}
